<div class="window" id="window-confirm">

	<div class="front">

		<div class="header"><text></text></div>

		<div class="inner clearfix">

			<p class="confirm"><text></text></p>

			<div id="confirm_buttons" class="buttons clearfix" style="text-align:center;">
				<span ctrl do="" class="button colorful del"><span class="icon-trash"></span><text i18n="remove"></text></span>
				<span ctrl do="dialogues|close" class="button grey"><span class="icon-cancel"></span><text i18n="cancel"></text></span>
			</div>

		</div>

	</div>

</div>
