<h2>Want your site to be here?</h2>

<div class="row clearfix">

	<div class="col lg-6">

		<p>You could find a bookmark linking to your website or page in this tab!<br>
		Just e-mail us to leave a request and learn more about the prices.<br>
		Please provide the following information in your e-mail:</p>
		<ul>
			<li><span class="icon-ok-1"></span>Link to your page or website</li>
			<li><span class="icon-ok-1"></span>Short description</li>
			<li><span class="icon-ok-1"></span>Logotype (vector or *.png)</li>
		</ul>

		<p>It won't cost much!</p>

	</div>

	<div class="col lg-6">

		<p><b>Important note:</b><br>Sites storing or linking the following content are not allowed:</p>
		<ul>
			<li><span class="icon-cancel"></span>Illegal content</li>
			<li><span class="icon-cancel"></span>Fraud</li>
			<li><span class="icon-cancel"></span>Pornography</li>
			<li><span class="icon-cancel"></span>Committing or promoting any type of illegal activity</li>
		</ul>

		<p>Send your mail to: <b><a href="mailto:iyawnlikeadog@gmail.com">iyawnlikeadog@gmail.com</a></b></p>

	</div>

</div>


